.topnav{
    background: #333;
    height: 40px;
    color: #b0b0b0;
    font-size: 12px;
}
.topnav-menu{
    line-height: 40px;
   
}
.topnav-menu a:hover{
    color:#fff;
    
}
.topnav-menu a{
    padding:0 7px;
    border-right: 1px solid #424242;
}
.topnav-menu li:last-child a{
    border-right: none;
}
.topnav-menu li:first-child a{
    padding-left: 0;
}
.topnav-car{
    width:120px;
    height: 40px;
    background: #424242;
    margin-left: 20px;
    position: relative;
    
}
.topnav-link{
    display: block;
    width:120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.topnav-car .iconfont{
    margin-right: 4px;
}
.topnav-tip{
    width: 320px;
    height: 100px;
    border:1px solid #ccc;
    background: #fff;
    position: absolute;
    right: 0;
    top:40px;
    text-align: center;
    line-height: 100px ;
    display: none;
    border-top: none;
    z-index: 22;
    
}
.topnav-car:hover .topnav-tip{
    display: block;
}
.topnav-car:hover .topnav-link{
    color: #ff6700;
    background: #fff;
}